html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

header {
    background: #666;
    height: 80px; /* Justera höjden efter behov */
    width: 100%;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container { 
    width: 80%;
    background-color: darkgrey;
    height: 50%;
    border-radius: 25px;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.hamburger-menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger-menu .bar {
    height: 3px;
    width: 25px;
    background-color: black;
    margin: 4px 0;
    transition: 0.4s;
}

.nav-links {
    display: flex;
    list-style: none;
    font-size: 18px;
    font-family: "Alata", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    text-decoration: none;
    color: inherit;
}

.nav-links a:hover {
    color: #5b5959;
}

.bild {
    height: 520px; /* Anpassa efter bildens storlek */
    width: 100%;
    margin-top: 5px;
}

footer {
    background-color: #666; /* grå bakgrund */
    height: 200px; /* Justera höjd efter behov */
    width: 100%;
    border-radius: 10px;
}

@media (max-width: 768px) {  /* mobilanpassning, fixar en hamburgermenu som visar navlinks i mobilvy */
    .hamburger-menu {
        display: flex;
        margin-left: 300px;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: #3f3f3fe6;
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
        text-align: center;
        border-radius: 1rem;
    }

    .nav-links.active {
        display: flex;
    }

    .nav-links li {
        margin: 15px 0;
    }

    .nav-links a {
        color: white;
    }
    
}
